/* ## RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}
/* ROOT */

:root {
  --header-height: 60px;
  --footer-height: 60px;
  --main-margin: 20px;
  --footer-margin: 6px;
}

/* GENERICS */
.webapp {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */

header {
  height: var(--header-height);
  padding-top: 10px;
  padding-right: 5px;
  text-align: right;
}

.button {
  background-color: #4a4a4a;
  padding: 5px 5px;
  font-size: 10px;
  border-radius: 3px;
}

/* GRID & CAMS */
main {
  margin-bottom: var(--main-margin);
  overflow: auto;
}
.grid {
  height: calc(
    100vh - var(--footer-margin) - var(--header-height) - var(--footer-height) -
      var(--main-margin)
  );
  margin: 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cam {
  height: 106px;
  min-width: 150px;
  flex-basis: calc(100% / 7 - 6px);
  margin: 6px 2px;
  position: relative;
}

img {
  height: 110px;
}

.utente {
  position: absolute;
  left: 0;
  bottom: 2px;
  padding: 5px 5px;
  background-color: rgba(103, 115, 125, 0.5);
  font-size: 10px;
}

/* FOOTER */

footer {
  height: var(--footer-height);
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--footer-margin);
}

.settings,
.utility {
  height: 100%;
  display: flex;
}

.comand {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 7px;
  gap: 4px;
}

.logo {
  font-size: 20px;
}

.font-small {
  font-size: 10px;
}

.freccia {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 10px;
}

.end-call {
  height: 100%;
  width: 90px;
  background-color: #4a4a4a;
  color: red;
  font-size: 10px;
  line-height: var(--footer-height);
  text-align: center;
}
